body {
   
    
    font-family: Arial, sans-serif;
}
p{
    color:aliceblue;
}
.container {
    
    background-image: url("background cover.png");
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    margin: 40px auto;
    padding: 20px 40px;
    border-radius: 12px;
    border: 3px;
    height: 700px;
    box-shadow: 0 0 10px black;
}
.text{
    color: black;
    position: relative;
    right: 60px;
}
h3{
    color: aliceblue;
}
h1 {
    color:rgb(97, 201, 192);
}

.quote {
    background: rgb(144, 119, 202);
    border-left: 5px solid rgb(13, 18, 110);
    padding: 10px 20px;
    margin: 20px 0;
    font-style: italic;
    border-radius: 5px;
}

.author {
    display: flex;
    
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    
}

img {
    position: relative;
    right:90px;
    width: 100px;
    height: 130px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}
.footer {
    margin-top: 130px;
    background: #0b3d8a;
    padding: 12px 15px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.price {
    color: yellow;
}

